[default]
region = ENTER_AWS_REGION_HERE
aws_access_key_id = ENTER_AWS_ACCESS_ID_HERE
aws_secret_access_key = ENTER_SECRET_HERE
aws_session_token = ENTER_SESSION_TOKEN_HERE

[profile eb-cli]
region = ENTER_AWS_REGION_HERE
aws_access_key_id = ENTER_AWS_ACCESS_ID_HERE
aws_secret_access_key = ENTER_SECRET_HERE
aws_session_token = ENTER_SESSION_TOKEN_HERE
